@import url('./variables.css');
@import url('./default.css');
@import url('./reusables.css');


/* 01 HEADER SECTION */

.header {
    background-color: var(--BGCOLOR-PRIMARY);
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--PADDING-BLOCK-HEADER);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo__image {
    object-fit: cover;
}

.navbar {
    display: var(--NAVBAR-SCREEN-LARGE);
}

.nav__list {
    display: flex;
    gap: 2.5rem;
}

.nav__list > li {
    all: unset;
}


/* 02 MAIN CONTENT SECTION */

/* 02.01 HERO SECTION */

.hero__section {
    display: flex;
    flex-direction: column;
    gap: var(--GAP-LARGE);
    background-color: var(--BGCOLOR-TRANSPARENT);
}

.hero__title {
    display: flex;
    flex-direction: column;
}

.title__addOn {
    font-size: var(--FS-H1);
    text-transform: uppercase;
}

.hero__title > .hero__title_02 {
    text-align: var(--TEXT-ALIGNMENT-H1-P2);
}

.hero__title > .hero__title_03 {
    text-align: var(--TEXT-ALIGNMENT-H1-P3);
}

.hero__image_wrapper {
    width: var(--WIDTH-IMAGE-HERO);
    height: 100%;
    align-self: var(--ALIGN-SELF-HERO-IMAGE);
    max-height: 700px;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.hero__image_wrapper > .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: black;
}

.hero__description_container {
    position: relative;
    display: flex;
    gap: 2rem;
}

.hero__description {
    font-size: var(--FS-H3);
    max-width: var(--MAXWIDTH-HERO-DESCRIPTION);
    text-align: justify;
    line-height: 1.4;
}

/* 02.02 FEATURES SECTION 01 */

.features__section_01 {
    background-color: var(--BGCOLOR-PRIMARY);
}

.feature__list_01 {
    display: grid;
    grid-template-columns: var(--GRID-LAYOUT-FEATURE01);
    gap: 4rem;
}

.feature__list_01 > .list__item {
    position: relative;
    display: flex;
    gap: 2.5rem;
    border-top: var(--BORDER-CARD-DARK);
    border-right: var(--BORDER-CARD-DARK);
    border-bottom: var(--BORDER-CARD-DARK);
    border-radius: 0 var(--BORDER-RADIUS-SMALL) var(--BORDER-RADIUS-SMALL) 0;
    padding: var(--PADDING-INLINE-CARD) var(--PADDING-INLINE-CARD) var(--PADDING-INLINE-CARD) 0;
}

.feature__list_01 .list__item .index {
    position: relative;
    top: 5px;
    font-size: var(--FS-H4);
}

/* 02.03 FEATURES SECTION 02 */

.features__section_02 {
    background-color: var(--BGCOLOR-SECONDARY);
    color: var(--TEXTCOLOR-SECONDARY);
}

.features__section_02 .feature__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.feature__list_02 {
    display: grid;
    grid-template-columns: var(--GRID-LAYOUT-FEATURE02);
    gap: 2rem;
}

.feature__list_02 .feature__card_content > .item__desc {
    color: var(--TEXTCOLOR-PRIMARY);
}


/* 02.04 ABOUT US SECTION */

.about__section {
    background-color: var(--BGCOLOR-TRANSPARENT);
}

.about__container {
    display: grid;
    grid-template-columns: var(--GRID-LAYOUT-ABOUT);
    gap: 5rem;
}

.about__section .about__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.about__section .image__wrapper {
    width: 100%;
    height: 100%;
    max-height: 550px;
    overflow: hidden;
    border-radius: var(--BORDER-RADIUS-SMALL);
}

.about__section .profile__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--BORDER-RADIUS-SMALL);
}

/* 03 FOOTER SECTION */

.footer {
    background-color: var(--BGCOLOR-PRIMARY);
}