@import url('./variables.css');
@import url('./default.css');
@import url('./reusables.css');


/* 01 HEADER SECTION */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--BGCOLOR-PRIMARY);
    border-bottom: var(--BORDER-CARD-DARK);
    z-index: 1000;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--PADDING-BLOCK-HEADER);
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo__image {
    object-fit: cover;
}

.logo__text {
    font-size: var(--FS-LOGO);
    font-weight: var(--FW-LOGO);
}

.navbar {
    display: var(--NAVBAR-SCREEN-LARGE);
}

.nav__list {
    display: flex;
    gap: 3rem;
}

.nav__list > li {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.nav__list > li:hover {
    border-bottom: var(--BORDER-CARD-DARK);
}

.hamburger__menu:hover {
    background-color: var(--BGCOLOR-HAMBURGER);
}

.hamburger__menu:hover .bar {
    background-color: var(--BGCOLOR-PRIMARY);
}

/* .nav__list > li {
    all: unset;
} */

.navbar__mobile {
    position: fixed;
    z-index: 100;
    top: 73.78px;
    right: -110%;
    min-height: 100dvh;
    background-color: var(--BGCOLOR-SECONDARY);
    color: var(--TEXTCOLOR-SECONDARY);
}

.active__mobile_navbar {
    display: grid;
    width: 100%;
    right: 0;
    transition: right 0.3s ease-in-out;
}

.navbar__mobile > .container {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__mobile .nav__list_mobile {
    flex-direction: column;
    /* gap: 4rem; */
}

.navbar__mobile li {
    width: max-content;
    padding-bottom: 1rem;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.navbar__mobile li:hover {
    border-bottom: var(--BORDER-CARD-LIGHT);
}

.nav__list_mobile .nav__link {
    font-size: var(--FS-H4);
}


/* 02 MAIN CONTENT SECTION */

.main__content {
    position: relative;
}

/* 02.01 HERO SECTION */

.hero__section {
    display: flex;
    flex-direction: column;
    gap: var(--GAP-LARGE);
    background-color: var(--BGCOLOR-TRANSPARENT);
}

.hero__title {
    display: flex;
    flex-direction: column;
}

.title__addOn {
    font-size: var(--FS-H1);
    text-transform: uppercase;
}

.hero__title > .hero__title_02 {
    text-align: var(--TEXT-ALIGNMENT-H1-P2);
}

.hero__title > .hero__title_03 {
    text-align: var(--TEXT-ALIGNMENT-H1-P3);
}

.hero__image_wrapper {
    /* width: var(--WIDTH-IMAGE-HERO); */
    height: 100%;
    align-self: var(--ALIGN-SELF-HERO-IMAGE);
    max-height: 700px;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.hero__image_wrapper > .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: black;
}

/* .hero__description_container {
    display: flex;
    flex-direction: column;
} */

.hero__desc_wrapper {
    position: relative;
    display: flex;
    gap: 2rem;
}

.hero__description {
    all: unset;
    font-size: var(--FS-H3);
    width: fit-content;
    width: -moz-fit-content;
    max-width: var(--MAXWIDTH-HERO-DESCRIPTION);
    text-align: justify;
    line-height: 1.4;
}

/* 02.02 FEATURES SECTION 01 */

.features__section_01 {
    background-color: var(--BGCOLOR-PRIMARY);
}

.feature__list_01 {
    display: grid;
    grid-template-columns: var(--GRID-LAYOUT-FEATURE01);
    gap: 4rem;
}

.feature__list_01 > .list__item {
    position: relative;
    display: flex;
    gap: 2.5rem;
    border-top: var(--BORDER-CARD-DARK);
    border-right: var(--BORDER-CARD-DARK);
    border-bottom: var(--BORDER-CARD-DARK);
    border-radius: 0 var(--BORDER-RADIUS-SMALL) var(--BORDER-RADIUS-SMALL) 0;
    padding: var(--PADDING-INLINE-CARD) var(--PADDING-INLINE-CARD) var(--PADDING-INLINE-CARD) 0;
}

.feature__list_01 .list__item .index {
    position: relative;
    top: 5px;
    font-size: var(--FS-H4);
}

/* 02.03 FEATURES SECTION 02 */

.features__section_02 {
    background-color: var(--BGCOLOR-SECONDARY);
    color: var(--TEXTCOLOR-SECONDARY);
}

.features__section_02 .feature__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.feature__list_02 {
    display: grid;
    grid-template-columns: var(--GRID-LAYOUT-FEATURE02);
    gap: 2rem;
}

.feature__list_02 .feature__card_content > .item__desc {
    color: var(--TEXTCOLOR-PRIMARY);
}


/* 02.04 ABOUT US SECTION */

.about__section {
    background-color: var(--BGCOLOR-TRANSPARENT);
}

.about__container {
    display: grid;
    grid-template-columns: var(--GRID-LAYOUT-ABOUT);
    gap: 5rem;
}

.about__section .about__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.about__section .image__wrapper {
    width: 100%;
    height: 100%;
    max-height: 550px;
    overflow: hidden;
    border-radius: var(--BORDER-RADIUS-SMALL);
}

.about__section .profile__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--BORDER-RADIUS-SMALL);
}

/* 03 FOOTER SECTION */

.footer {
    background-color: var(--BGCOLOR-PRIMARY);
}

.footer > .container {
    width: 100%;
}

.footer__top {
    width: 100%;
    display: flex;
    flex-direction: var(--FLEX-DIRECTION-FOOTER-TOP);
    justify-content: space-between;
    gap: 8rem;
}

.footer__top_a {
    width: 100%;
    max-width: var(--MAX-WIDTH-FOOTER-LOGO-COL);
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.footer__top_b {
    min-width: 300px;
    width: 100%;
    max-width: var(--MAX-WIDTH-FOOTER-LINKS-COL);
    display: grid;
    /* grid-template-columns: ; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */

    /* display: grid; */
    grid-template-columns: var(--GRID-LAYOUT-FOOTER-LINKS);
    gap: 3.2rem;
}

.footer__top_b > .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__link_title {
    font-size: var(--FS-FOOTERLINK-TITLE);
    font-weight: var(--FW-FOOTERLINK-TITLE);
}

.footer__top_b .footer__links {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--FS-FOOTERLINK);
}

.footer__bottom {
    display: flex;
    flex-direction: var(--FLEX-DIRECTION-FOOTER-COPYRIGHT);
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.footer__bottom small {
    font-size: var(--FS-COPYRIGHT);
}

.footer .follow__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.footer .follow__links a:hover .fill {
    display: inline-block;
}

.footer .follow__links a:hover .line {
    display: none;
}

.footer .follow__links i {
    font-size: 2rem;
    color: var(--TEXTCOLOR-DEFAULT);
}

.footer .follow__links .fill {
    display: none;
}
