.section {
    position: relative;
    padding-block: var(--PADDING-BLOCK-LARGE);
}

.container {
    width: 100%;
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 3.2vw, 2rem);
    /* padding-inline: 1rem; */
}

.mobile__navIcon_wrapper {
    display: var(--NAVBAR-SCREEN-MOBILE);
}

.hamburger__menu {
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: var(--BORDER-CARD-DARK);
    border-radius: var(--BORDER-RADIUS-SMALL);
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: var(--BGCOLOR-SECONDARY);
}

.active__mobile_menu {
    position: relative;
    align-items: center;
    justify-content: center;
}

.active__mobile_menu > .bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50%;
}

.active__mobile_menu > .top__bar {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}
.active__mobile_menu > .middle__bar {
    display: none;
}
.active__mobile_menu > .bottom__bar {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}

.feature__card {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border: var(--BORDER-CARD-LIGHT);
    border-radius: var(--BORDER-RADIUS-SMALL);
    padding: var(--PADDING-BLOCK-CARD) var(--PADDING-INLINE-CARD);
}

.feature__card_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title__wrapper {
    position: relative;
    display: flex;
    gap: 2rem;
}

.title__h2 {
    font-size: var(--FS-H2);
    font-weight: var(--FW-H2);
}

.title__h3 {
    font-size: var(--FS-H3);
    font-weight: var(--FW-H3);
}

.title__h4 {
    font-size: var(--FS-H4);
    font-weight: var(--FW-H4);
}

.title__h5 {
    font-size: var(--FS-H5);
    font-weight: var(--FW-H5);
}

.desc {
    text-align: justify;
    line-height: var(--LH-MEDIUM);
}

.lists {
    list-style: none;
}

.lists::marker {
    width: 0;
    height: 0;
    display: none;
}

.dash__affix {
    position: relative;
    top: 20px;
    display: inline-block;
    width: 30px;
    height: 2.4px;
}

.dash__affix_alt {
    position: relative;
    top: 9px;
    display: inline-block;
    width: 20px;
    height: 1.5px;
}

.bgc__light {
    background-color: var(--BGCOLOR-DEFAULT);
}

.bgc__dark {
    background-color: var(--BGCOLOR-SECONDARY);
}

.txt__transform {
    text-transform: uppercase;
}

.divider__axis_x {
    margin-block: 4rem;
}